/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  padding-top: 56px;
}

body.sticky-bottom-footer {
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

.post-header {
  border-bottom: 1px solid var(--global-divider-color);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.col-md-5 img {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.address-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

.address {
  font-size: 0.9rem;
  color: var(--global-text-color-light);
  text-align: left;
}

.address-container i {
  color: var(--global-theme-color);
}

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
